
b {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    }

h3 { font-family: comic Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    color: green;
    }

 p { font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: brown;

    }